.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.primary-button {
    background: var(--color-primary500);
    padding: 6px 16px;
    border-radius: 16px;
    color: var(--color-white);
}

.textual-button {
    background: none;
    color: var(--color-secondary600);
    padding: 6px 12px;
}

.button-wrapper {
    display: inline-block;
    position: relative;
}

.button-wrapper_display_none {
    display: none;
}

.textual-button_padding_0px {
    padding: 0px;
}

.button__icon:not(:last-child) {
    margin-right: .5em;
}

.button__icon:not(:only-child) {
    margin-left: .5em;
}

.button__text {
    font-size: 1em;
    font-weight: 600;
}

.button__icon {
    width: 1em;
    height: 1em;
}

.control-button {
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-control-button-border);
    background-color: var(--color-white);
    padding: 4px;
    min-height: 2em;
    min-width: 2em;
    width: auto;
    border-radius: 2em;
}

.primary-button[disabled],
.textual-button[disabled],
.control-button[disabled] {
    opacity: 0.6;
    cursor: default;
}

.control-button:hover:not([disabled]) {
    background-color: var(--color-control-button-hover);
}

.control-button-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 1.5em;
    min-width: 1.5em;
    border-radius: .75em;
    background-color: var(--color-control-button-dropdown);
}

.control-button-dropdown__icon {
    width: .5em;
    height: .5em;
}

.control-button-dropdown:active {
    background-color: var(--color-control-button-hover)
}

.dropdown-window {
    position: absolute;
    display: block;
    min-width: 10em;
    top: calc(100% + .2em);
    padding: .5em 0em;
    background-color: var(--color-white);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .15);
    border-radius: .25em;
    box-shadow: 0 .5em .8em rgba(0, 0, 0, .175);
}

.dropdown-window__menu {
    list-style-type: none;
}

.dropdown-window__menu li {
    padding: .25em .8em;
    cursor: pointer;
}